:root 
{
    --system-ui: system-ui, "Roboto", sans-serif, Helvetica, Arial, sans-serif, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body
{
    margin: 0;
    padding: 0;
    font-family: var(--system-ui);
}

.grid-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

.dashboard-section
{
    display: grid;
    grid-auto-rows: max-content;
    grid-row: span 4;
    background-color: #1992D4;
    width: 100%;
    user-select: none;
}

.dashboard-section div
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: white;
    font-weight: 500;
    padding-left: 0.25em;
    align-items: center;
    font-size: 1.25rem;
    line-height: 2em;
}

.dashboard-section div:nth-child(1)
{
    margin: 0.25rem 0 1.5rem 0;
}

.dashboard-section div:nth-child(7)
{
    margin-bottom: 3rem;
    text-align: center;
}

.dashboard-section div:hover:nth-child(1)
{
    background-color: #1992D4;
    transition: 10ms;
    cursor: default;
}

.dashboard-section div:hover
{
    background-color: rgb(0, 0, 0, 0.3);
    transition: 0.25s;
    cursor: pointer;
}

.dashboard-area
{
    display: grid;
    text-indent: 15%;
    height: fit-content;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.dashboard_icon
{
    width: 3rem;
}

.dashboard_icon_choices
{
    width: 2rem;
}

.name-section
{
    display: grid;
    grid-column: span 3;
}

.name-section-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.search_bar_grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30%;
}

input.search_bar
{
    display: grid;
    grid-area: 1 / 1 / 1 / 2;
    width: 30vw;
    height: 80%;
    border: 5px solid #E2E8F0;
    border-radius: 50px;
    background-color: #E2E8F0;
    margin: 0.5em 0 0 5em;
    justify-self: center;
    cursor: text;
}

.search_bar_icon
{
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    width: 2vw;
    transform: translateY(0.75em) translateX(1.5em);
    min-height: 1ch;
    cursor: pointer;
}

.bell-icon-grid
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    grid-area: 1 / 2 / 1 / 2;
}

img.bell-icon
{
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
    width: 12.5%;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer;
}

.buttons_grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-area: 2 / 2 / 2 / 2;
    justify-content: space-evenly;
    align-items: center;
}

.buttons_grid div
{
    justify-self: center;
    background-color: #1992D4;
    width: 75%;
    height: 45%;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: var(--system-ui);
    align-content: center;
    cursor: pointer;
}

.intro-icon-grid
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-area: 2 / 1 / 2 / 1;
}

.icon
{
    display: grid;
    justify-self: center;
    grid-area: 1 / 1 / 1 / 1;
    justify-self: center;
    align-self: center;
    width: 5rem;
    height: 5rem;
    background: url(pngs/mango_the_bird_icon.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin: 0 0 1em 1.25em;
}

.second-icon
{
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0.25em 0 1em 1.75em;
    width: 4.6875rem;
    height: 4.6875rem;
    background: url(pngs/mango_the_bird_icon.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
}

.account-name
{
    display: grid;
    grid-area: 1 / 2 / 2 / 2;
    justify-self: flex-end;
    align-self: center;
    font-size: 1.0625em;
    padding-right: 2em;
    margin-bottom: 1.5em;
    font-weight: bold;
    position:sticky;
}

.intro
{
    margin-left: 0.875em;
    grid-area: 1 / 2 / 1 / 2;
    font-family: var(--system-ui);
    font-size: 1.5em;
    font-weight: bolder;
}

.intro::first-line
{
    display: grid;
    font-weight: bold;
    font-size: 0.8rem;
}

.achievements-and-info-section
{
    display: grid;
    font-family: var(--system-ui);
    grid-area: 2 / 2 / 5 / 5;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: #E2E8F1;
    box-shadow: inset 0 5px 3px -3px gray;
}

.text-labels
{
    display: grid;
    font-weight: 600;
    font-size: 0.9rem;
}

.your-projects-label, .announcements-label, .trending-label
{
    display: grid;
    margin: 0.8em;
}

.your-projects-label
{
    grid-area: 1 / 1 / 1 / 1;
}

.projects
{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-area: 1 / 1 / 5 / 3;
    gap: 1.25em;
    padding: 1.25em;
    margin-top: 1.25em;
    border-radius: 10%;
}

.project
{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    border-radius: 10%;
    padding: 0 10px 10px 1.75em;
    padding-top: 1em;
    box-shadow: inset 0 5px 3px -4px gray;
    border-left: 10px solid #f0b429;
    min-height: 80%;
}

.project-title
{
    display: grid;
    grid-area: 1 / 1 / 1 / 5;
    font-weight: bolder;
    font-size: 1rem;
}

.project-description
{
    display: grid;
    grid-area: 1 / 1 / 3 / 5;
    font-size: 0.8rem;
    color: rgb(121, 121, 121);
    padding-top: 2.25em;
    max-width: 25ch;
    height: 100%;
}

.project-icons
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "star eye share"; 
    grid-area: 2 / 2 / 2 / 5;
    gap: 10px;
    width: clamp(5vw, 50%, 10vw);
    align-content: flex-end;
    justify-self: flex-end;
    cursor: pointer;

}

.star-icon
{
    grid-area: star;
}

.eye-icon
{
    grid-area: eye;
}

.share-icon
{
    grid-area: share;
}

.announcements-label
{
    grid-area: 1 / 3 / 1 / 3;
    width: fit-content;
    height: fit-content;
}

.announcements
{
    display: grid;
    grid-area: 1 / 3 / 3 / 3;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 10%;
    margin: 2em 1em 0 0;
    box-shadow: inset 0 5px 3px -4px gray;
}

.announcements div
{
    width: 30ch;
    min-height: 0.5em;
    justify-content: center;
    align-content: center;
    margin: 0.5em 1.5em 0 1.5em;
    font-size: small;
    text-overflow: ellipsis;
}

.announcements div::first-line
{
    font-weight: bold;
    font-size: 0.8rem;
}

.trending-label
{
    grid-area: 3 / 3 / 3 / 3;
}

.trending
{
    display: grid;
    grid-area: 3 / 3 / 5 / 3;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 3fr;
    background-color: white;
    grid-template-areas: "icon1 info1"
                         "icon2 info2"
                         "icon3 info3"
                         "icon4 info4";
    justify-items: center;
    align-items: center;
    border-radius: 10%;
    margin: 2em 1em 0.5em 0;
    box-shadow: inset 0 5px 3px -4px gray;
    padding: 0.75em;
}

.icon1, .icon2, .icon3, .icon4
{
    width: 80%;
}

.icon1
{
    grid-area: icon1;
}

.icon2
{
    grid-area: icon2;
}

.icon3
{
    grid-area: icon3;
}

.icon4
{
    grid-area: icon4;
}

.info1
{
    grid-area: info1;
}

.info2
{
    grid-area: info2;
}

.info3
{
    grid-area: info3;
}

.info4
{
    grid-area: info4;
}

.info1, .info2, .info3, .info4
{
    justify-self: left;
    padding-left: 1em;
    font-size: small;
}
.info1::first-line, .info2::first-line, .info3::first-line, .info4::first-line
{
    font-weight: bold;
}